<div class="container my-5">
  <div class="row">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="form-group">
        <label for="emil">Email address</label>
        <input type="email" class="form-control w-25" id="emil" aria-describedby="emil"
        placeholder="Enter email"
        name="emil"
        #emil="ngModel"
        [(ngModel)]="model.emil"
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        required
        >
      </div>
      <div *ngIf="emil.touched && !emil.valid">
          <small class="text-danger" *ngIf="emil.errors?.required">Email is Required </small>
          <small class="text-danger" *ngIf="emil.errors?.pattern">Email Address is Invalid </small>
        </div>
      <div class="form-group">
        <label for="pass">Password</label>
        <input type="password" class="form-control w-25" id="pass" placeholder="Password"
        name="pass"
        #pass="ngModel"
        [(ngModel)]="model.pass"
        required
        >
      </div>
      <div *ngIf="pass.touched && !pass.valid">
        <small class="text-danger" *ngIf="pass.errors?.required">Password is Required </small>
      </div>
      <button type="submit" class="btn btn-primary mt-3" [disabled]="!loginForm.valid">Login</button>
    </form>
    <h5 class="text-capitalize"> don't have account? <a routerLink="/auth/register">Register</a></h5>
  </div>
</div>


