<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand fs-4" routerLink="/">Products</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white fs-4" routerLink="/productDetails">Product Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-4" routerLink="/whishlist">WishList:{{count}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-4" routerLink="/shoppingCart"><i class="fa fa-cart-plus">: {{shoppingCartCounter}}</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-4" routerLink="/auth/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-4" routerLink="/auth/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
